@import "tailwindcss";

/* Global styles */
body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 10px;
}

/* Card */
.card {
  background-color: #111827;
  border-radius: 16px;
  padding: 20px;
}